services:
  # Base de données MongoDB
  mongo:
    image: mongo:6.0
    container_name: social_network_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      # Pas de mot de passe (environnement de développement)
      MONGO_INITDB_DATABASE: social-network
    networks:
      - app-network

  # Backend Node.js
  backend:
    build:
      context: ./backend
    container_name: social_network_backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/social-network
      - JWT_SECRET=${JWT_SECRET:-secret_dev_key}
      - CLIENT_URL=http://localhost
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - app-network

  # Frontend React (servi par Nginx)
  frontend:
    build:
      context: ./frontend
    container_name: social_network_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongo_data:


networks:
  app-network:
    driver: bridge
